body {
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #47daff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  background-color: #008cff;
}
